<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="getCarsButton">GET</button>

    <script>
      document.getElementById('getCarsButton').addEventListener('click', function() {
        window.location.href = '/api/cars';
      });
    </script>
  </body>
</html>
